{% load static %}
    <!-- footer -->
    <footer>
        <div class="container pt-3">
            <div class="footer row text-white mt-4 md-5">
                <div class="col-lg-5 d-flex flex-direction-column justify-content-between">
                    <div>
                        <img src="{% static './IMG/svg/footer logo.svg' %}" alt="">
                    </div>
                    <div>
                        <p>+ 91 79 484 666 22</p>
                        <p>care@royalmonarch.in</p>
                        <p>Made with love in India</p>
                        <p>Copyright © 2024, Royal Monarch</p>
                    </div>
                </div>
                <div class="col-lg-7 d-flex flex-direction-column justify-content-between">
                    <div>
                        <a class="footer-link" href="#">Community</a><br>
                        <a class="footer-link" href="#">Refer a friend</a><br>
                        <a class="footer-link" href="#">Wall of love</a><br>
                    </div>
                    <div>
                        <a class="footer-link" href="#">Quick Links</a><br>
                        <a class="footer-link" href="#">Become a partner</a><br>
                        <a class="footer-link" href="#">Calculators</a><br>
                        <a class="footer-link" href="#">Income tax calculator</a><br>
                        <a class="footer-link" href="#">How it works</a><br>
                    </div>
                    <div>
                        <a class="footer-link" href="#">Company</a><br>
                        <a class="footer-link" href="#">Our firm</a><br>
                        <a class="footer-link" href="#">Our culture</a><br>
                        <a class="footer-link" href="#">Our approach</a><br>
                        <a class="footer-link" href="#">Our team</a><br>
                        <a class="footer-link" href="#">Career</a><br>
                    </div>
                </div>
            </div>
            <div class="row mt-5 md-3 p-5">
                <div class="row">
                    <p class="footer-text">Copyright | Terms & Conditions | Research Disclaimer | Important Links |
                        Disclaimer | Applicant and Candidate Privacy Policy | Stay Secure | Stay Alert | NDNCR Terms
                        & Conditions</p>
                </div>
                <div class="row d-flex justify-content-center">
                    <p class="footer-text">Registered Office: Royal Monarch Finserv Private Limited, B1-504 Westgate
                        Business Bay,
                    <p class="footer-text">S.G. Highway, Ahmedabad - 380051, Gujarat</p>
                    <p class="footer-text">BSE - Cash/FNO/CD NSE - AP2069120373 - Cash/FNO/CD MCX - MCX/AP/136488 -
                        Commodities </p>
                    <p class="footer-text">Depository Services NSDL/CDSL-IN-DP-365-2018</p>
                    <p class="footer-text">Royal Monarch Finserv Private Limited - SEBI Registration Number:
                        BSE/NSE/MSEI/MCX</p>
                    <p class="footer-text">PMS: INP0000005786 Mutual Fund ARN: 20669 Research Analyst: INH00006183
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap JS -->
    <script src="{% static './bootstrap/bootstrap-5.3.3-dist/js/bootstrap.min.js' %}"></script>
    <!-- Custom JS -->
    <script src="{% static './js/script.js' %}"></script>
</body>

</html>